/* *{
    margin:0;
    padding:0;
    overflow: hidden;
}

.background{
    background-color: rgb(94, 46, 140);
}
.btnStyle{
    display: grid;
   place-items: center;
   float: right;
   margin-right: 50px;
    width: 10%;
    font-size: 25px;
} */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
    /* overflow-y:hidden; */
/*   background-color:black */
}

.container{
  text-align: center;
}

.main{
	display: flex;
	margin-left: 28%;
}
.button{
    background-color: green;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
#id{
    color: white;
    margin-bottom: 10px;
}
.bb{
    background-color: black;
    color: white;
}
.show{
    background-color: black;
}
.chart{
    height: 30%;
}
