*{
    margin:0;
    padding:0;
    overflow: hidden;
}

.background{
    background-color: rgb(94, 46, 140);
}
.btnStyle{
    display: grid;
   place-items: center;
   float: right;
   margin-right: 50px;
    width: 10%;
    font-size: 25px;
}
.first{
    display: grid;
    place-items: center;
}
.second{
    width: 40%;
    display: grid;
    place-items: center;
    /* background-color: blanchedalmond; */
}
.icon{
    border: white;
    font-size: 40px;
    color: rgb(239, 240, 244);
    background-color: rgb(25, 25, 27);
}
.btn1{
    margin-right: 40px; ;
}
.btn3{
    margin-left: 40px; ;
}
.ww{
    width: 20%;
}
h2{
color: cadetblue;
    /* width: 10%;
    height: 40%;
    display: grid;
    place-items: center; */
}


